@import "node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/nprogress/nprogress.css";
@import "fonts";

#nprogress .bar {
  background: $white !important;
}

#nprogress .spinner-icon {
  border-top-color: $white !important;
  border-left-color: $white !important;
}

.navbar.custom {
  .navbar-brand {
    font-size: 1.7rem;
  }
  .nav-link {
    font-weight: bold;
    cursor: pointer;
  }
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}

// node_modules/bootstrap/scss/_variables.scss
@include media-breakpoint-down(sm) {
  .navbar {
    background-color: $dark;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
  }
}

// ------------- INDEX PAGE -------------
.cover {
  background-image: url("/static/images/background-index.png"),
    linear-gradient(45deg, #00aeef 0%, #096fb9 100%);
  position: relative;
}

.wrapper {
  //   min-height: calc(100vh - 56px);
  min-height: 100vh;
  position: relative;
  padding-top: 2rem;
}

.hero-section {
  background-image: url(/static/images/section-1.jpg);
  background-repeat: no-repeat;
  min-height: 600px;
  background-size: cover;
}
